.ipynb_checkpoints
__pycache__/
# R history files
.Rhistory

/word_embeddings/news_word2vec.txt

*.csv
# Exceptions:
!/topics/daily_topics.csv
!/topics/topic_description.csv
!/topics/sign_adjusted_daily_topics_format.csv
!/forecasting/DFM/data/correlations/*.csv
!/forecasting_60days/DFM/data/correlations/*.csv
!/forecasting_90days/DFM/data/correlations/*.csv
!/forecasting/DFM/data/average_correlation_selected_topics.csv
!/forecasting/reuters-poll-eval/sentiment/*.csv
!/forecasting/reuters-poll-eval/correlation_results.csv
!/forecasting/AR1/*.csv
!/forecasting/AR1/vintages_AR1/*.csv
!/forecasting/DFM/data/*.csv
!/forecasting/DFM/data/vintages/*.csv
!/forecasting/DFM/data/topics/*.csv
!/forecasting/DFM/model/*.csv
!/forecasting/hard_data/vintages_hard/*.csv
!/forecasting/hard_data/vintages_both/*.csv
!/forecasting/hard_data/*.csv
!/forecasting/MIDAS/vint_2010_1_30.csv
!/forecasting/MIDAS/vintages_MIDAS/*.csv
!/forecasting/hard_data/vintages_hard_MIDAS/*.csv
!/forecasting/hard_data/vintages_both_MIDAS/*.csv

*.eps
*.xlsx
# Exceptions:
!/sentiment/BPW_Dictionary.xlsx
!/sentiment/sentiment_lstm_quarter_combined.xlsx
*.pth
*.pickle
*.sav
*.pyc
*.pkl
# Unnecessary pdf files
/forecasting_60days/reuters-poll-eval/*.pdf
/forecasting_90days/reuters-poll-eval/*.pdf
/forecasting/MIDAS/*.pdf
/forecasting_60days/MIDAS/*.pdf
/forecasting_90days/MIDAS/*.pdf
# Unnecessary Rda files
/forecasting_60days/hard_data/*.Rda
/forecasting_90days/hard_data/*.Rda
# Unnecessary R scripts
/forecasting_60days/MIDAS/*.R
/forecasting_90days/MIDAS/*.R
# Exceptions:
!/forecasting_60days/MIDAS/LASSO_all_p.R
!/forecasting_90days/MIDAS/LASSO_all_p.R
!/forecasting_60days/MIDAS/LASSO_all_p_hard.R
!/forecasting_90days/MIDAS/LASSO_all_p_hard.R
!/forecasting_60days/MIDAS/LASSO_all_p_both.R
!/forecasting_90days/MIDAS/LASSO_all_p_both.R

!/forecasting_60days/MIDAS/LASSO_OLS_all_p.R
!/forecasting_90days/MIDAS/LASSO_OLS_all_p.R
!/forecasting_60days/MIDAS/LASSO_OLS_all_p_hard.R
!/forecasting_90days/MIDAS/LASSO_OLS_all_p_hard.R
!/forecasting_60days/MIDAS/LASSO_OLS_all_p_both.R
!/forecasting_90days/MIDAS/LASSO_OLS_all_p_both.R

!/forecasting_60days/MIDAS/PCA_all_p.R
!/forecasting_90days/MIDAS/PCA_all_p.R
!/forecasting_60days/MIDAS/PCA_all_p_hard.R
!/forecasting_90days/MIDAS/PCA_all_p_hard.R
!/forecasting_60days/MIDAS/PCA_all_p_both.R
!/forecasting_90days/MIDAS/PCA_all_p_both.R

!/forecasting_60days/MIDAS/RF_all_p.R
!/forecasting_90days/MIDAS/RF_all_p.R
!/forecasting_60days/MIDAS/RF_all_p_hard.R
!/forecasting_90days/MIDAS/RF_all_p_hard.R
!/forecasting_60days/MIDAS/RF_all_p_both.R
!/forecasting_90days/MIDAS/RF_all_p_both.R

!/forecasting_60days/MIDAS/Ridge_all_p.R
!/forecasting_90days/MIDAS/Ridge_all_p.R
!/forecasting_60days/MIDAS/Ridge_all_p_hard.R
!/forecasting_90days/MIDAS/Ridge_all_p_hard.R
!/forecasting_60days/MIDAS/Ridge_all_p_both.R
!/forecasting_90days/MIDAS/Ridge_all_p_both.R

!/forecasting_60days/MIDAS/construct_vintage_MIDAS.R
!/forecasting_90days/MIDAS/construct_vintage_MIDAS.R

!/forecasting_60days/MIDAS/cross_validation_ts.R
!/forecasting_90days/MIDAS/cross_validation_ts.R

!/forecasting_60days/MIDAS/vintages_MIDAS.R
!/forecasting_90days/MIDAS/vintages_MIDAS.R

# Unnecessary .tex files
/forecasting/MIDAS/*.tex
/forecasting_60days/MIDAS/*.tex
/forecasting_90days/MIDAS/*.tex

# Ignore all files within specific directories
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/BamS_Konjunktur_rtf/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/BamS_Konjunktur_txt/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/BILD_Konjunktur_rtf/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/BILD_Konjunktur_txt/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_scrape_2011_2015_txt/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_scrape_2016_txt/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_Konjunktur_Factiva_rtf/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_Konjunktur_Factiva_txt/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_Konjunktur_LexisNexis_rtf/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_Konjunktur_LexisNexis_txt/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Focus_scrape_2011_2019_txt/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Focus_Konjunktur_Factiva_rtf/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Focus_Konjunktur_Factiva_txt/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Focus_Konjunktur_LexisNexis_rtf/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Focus_Konjunktur_LexisNexis_txt/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Capital_Konjunktur_Factiva_rtf/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Capital_Konjunktur_Factiva_txt/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Capital_Konjunktur_LexisNexis_rtf/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Capital_Konjunktur_LexisNexis_txt/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/WamS_Konjunktur_rtf/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/WamS_Konjunktur_txt/*
/sentiment/MediaTenor_data/*
/forecasting/reuters-poll-eval/poll data/*
/forecasting_60days/reuters-poll-eval/poll data/*
/forecasting_90days/reuters-poll-eval/poll data/*

# Keep the directories
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/BamS_Konjunktur_rtf/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/BamS_Konjunktur_txt/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/BILD_Konjunktur_rtf/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/BILD_Konjunktur_txt/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_scrape_2011_2015_txt/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_scrape_2016_txt/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_Konjunktur_Factiva_rtf/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_Konjunktur_Factiva_txt/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_Konjunktur_LexisNexis_rtf/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_Konjunktur_LexisNexis_txt/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Focus_scrape_2011_2019_txt/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Focus_Konjunktur_Factiva_rtf/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Focus_Konjunktur_Factiva_txt/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Focus_Konjunktur_LexisNexis_rtf/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Focus_Konjunktur_LexisNexis_txt/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Capital_Konjunktur_Factiva_rtf/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Capital_Konjunktur_Factiva_txt/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Capital_Konjunktur_LexisNexis_rtf/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Capital_Konjunktur_LexisNexis_txt/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/WamS_Konjunktur_rtf/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/WamS_Konjunktur_txt/.gitkeep
!/sentiment/MediaTenor_data/.gitkeep
!/forecasting/reuters-poll-eval/poll data/.gitkeep
