.ipynb_checkpoints
__pycache__/
# R history files
.Rhistory

/word_embeddings/news_word2vec.txt

*.csv
# Exceptions:
!/topics/daily_topics.csv
!/topics/topic_description.csv
!/topics/sign_adjusted_daily_topics_format.csv
!/forecasting/DFM/data/correlations/*.csv
!/forecasting/DFM/data/average_correlation_selected_topics.csv
!/forecasting/reuters-poll-eval/sentiment/*.csv
!/forecasting/reuters-poll-eval/correlation_results.csv
!/forecasting/AR1/*.csv
!/forecasting/AR1/vintages_AR1/*.csv
*.eps
*.xlsx
# Exceptions:
!/sentiment/BPW_Dictionary.xlsx
!/sentiment/sentiment_lstm_quarter_combined.xlsx
*.pth
*.pickle
*.sav
*.pyc
*.pkl

# Ignore all files within specific directories
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/BamS_Konjunktur_rtf/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/BamS_Konjunktur_txt/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/BILD_Konjunktur_rtf/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/BILD_Konjunktur_txt/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_scrape_2011_2015_txt/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_scrape_2016_txt/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_Konjunktur_Factiva_rtf/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_Konjunktur_Factiva_txt/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_Konjunktur_LexisNexis_rtf/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_Konjunktur_LexisNexis_txt/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Focus_scrape_2011_2019_txt/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Focus_Konjunktur_Factiva_rtf/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Focus_Konjunktur_Factiva_txt/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Focus_Konjunktur_LexisNexis_rtf/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Focus_Konjunktur_LexisNexis_txt/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Capital_Konjunktur_Factiva_rtf/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Capital_Konjunktur_Factiva_txt/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Capital_Konjunktur_LexisNexis_rtf/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Capital_Konjunktur_LexisNexis_txt/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/WamS_Konjunktur_rtf/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/WamS_Konjunktur_txt/*
/sentiment/MediaTenor_data/*
/forecasting/reuters-poll-eval/poll data/*

# Keep the directories
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/BamS_Konjunktur_rtf/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/BamS_Konjunktur_txt/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/BILD_Konjunktur_rtf/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/BILD_Konjunktur_txt/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_scrape_2011_2015_txt/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_scrape_2016_txt/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_Konjunktur_Factiva_rtf/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_Konjunktur_Factiva_txt/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_Konjunktur_LexisNexis_rtf/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_Konjunktur_LexisNexis_txt/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Focus_scrape_2011_2019_txt/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Focus_Konjunktur_Factiva_rtf/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Focus_Konjunktur_Factiva_txt/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Focus_Konjunktur_LexisNexis_rtf/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Focus_Konjunktur_LexisNexis_txt/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Capital_Konjunktur_Factiva_rtf/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Capital_Konjunktur_Factiva_txt/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Capital_Konjunktur_LexisNexis_rtf/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Capital_Konjunktur_LexisNexis_txt/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/WamS_Konjunktur_rtf/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/WamS_Konjunktur_txt/.gitkeep
!/sentiment/MediaTenor_data/.gitkeep
!/forecasting/reuters-poll-eval/poll data/.gitkeep
