.ipynb_checkpoints
__pycache__/

/word_embeddings/news_word2vec.txt

*.csv
*.eps
*.xlsx

# Ignore all files within specific directories
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/BamS_Konjunktur_rtf/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/BamS_Konjunktur_txt/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/BILD_Konjunktur_rtf/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/BILD_Konjunktur_txt/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_scrape_2011_2015_txt/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_scrape_2016_txt/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_Konjunktur_Factiva_rtf/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_Konjunktur_Factiva_txt/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_Konjunktur_LexisNexis_rtf/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_Konjunktur_LexisNexis_txt/*
/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Focus_scrape_2011_2019_txt/*

# Keep the directories
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/BamS_Konjunktur_rtf/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/BamS_Konjunktur_txt/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/BILD_Konjunktur_rtf/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/BILD_Konjunktur_txt/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_scrape_2011_2015_txt/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_scrape_2016_txt/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_Konjunktur_Factiva_rtf/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_Konjunktur_Factiva_txt/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_Konjunktur_LexisNexis_rtf/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Spiegel_Konjunktur_LexisNexis_txt/.gitkeep
!/MediaTenor_processing/MediaTenor_LexisNexis_Factiva/Focus_scrape_2011_2019_txt/.gitkeep
